---

cmdb:
    uuid: "{{ prop_cmdb.uuid }}"
    description: "{{ prop_cmdb.description }}"
    environment: "{{ prop_cmdb.environment }}"
host:
    hostname: "{{ prop_host.hostname }}"
    ipaddress: "{{ prop_host.ipaddress }}"
    mac: "{{ prop_host.mac }}"
device:
    arch: "{{ prop_device.arch }}"
    vendor: "{{ prop_device.vendor }}"
    product: "{{ prop_device.product }}"
os:
    short: "{{ prop_os.short }}"
